html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
  /* justify-items: center; */
  --black-100: #c2c5c9;
  --grey-100: #636568;
  --grey-50: #aca9a9de;
  --blue-100: #5391b9;
  --blue-200: rgba(59, 130, 246, 0.8);
  --blue-50: #80b7db34;

  --font-500: 500;
  --font-400: 400;
}

a {
  /* color: inherit; */
  text-decoration: none;
}
a:hover {
  color: palevioletred;
}
* {
  box-sizing: border-box;
}
/* Containers CSS */
.stats-drop-container {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  justify-items: center;
}
.stats-drop-container > div:first-child {
  justify-content: flex-start;
  margin-right: 100px;
}
.stats-drop-container > div:nth-child(2) {
}
.stats_container {
  max-width: 450px;
  border-style: solid;
  border-color: var(--grey-50);
  border-radius: 10px;
  background-color: #9fa3a705;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 31px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 31px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 31px -16px rgba(0, 0, 0, 0.75);
}
.stats_container h4 {
  color: rgb(117, 116, 116);
  margin: 15px;
}
/* Containers CSS  ends*/

#gallery {
  margin-top: 10px;
  border: 1px solid var(--black-100);
  border-radius: 5px;
  padding: 12px;
  max-width: 80%;
  text-align: center;
}
#gallery img {
  width: 160px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
  /* Border */
  border: 1px dashed var(--blue-100);
  border-radius: 5px;
  padding: 10px;
}
#gallery img:hover {
  background-color: var(--blue-50);
}

/* Droppable css */
.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: dashed;
  border-color: #6365686b;
  min-width: 500px;
  max-width: 450px;
}
.drag-drop-zone p {
  color: var(--grey-100);
  font-weight: 700;
  z-index: 10;
}
.drag-drop-zone.inside-drag-area {
  background-color: rgba(155, 171, 175, 0.267);
  border-color: rgb(68, 68, 68);
  opacity: 0.3;
}
.dropped-files li {
  color: #07f;
  padding: 3px;
  text-align: left;
  font-weight: bold;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

span.font-500 {
  font-weight: var(--font-500);
  color: var(--blue-200);
  cursor: pointer;
}

.drop-zone-label {
  display: inline-block;
}
.drop-zone-txt > p {
  margin-left: 0.5rem;
  font-weight: var(--font-400);
  display: inline-block;
  margin: 0;
}
#drop-zone > p {
  font-weight: var(--font-400);
  color: var(--blue-200);
}
/* Droppable css  Ends*/

/*progress bar css*/
progress[value] {
  /* Reset the default appearance  on different OS*/
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    rgb(41, 115, 226),
    rgb(221, 180, 153),
    rgb(34, 235, 174)
  );
  border-radius: 6px;
}
/*  v2*/
/* <div style={{ display: "flex", justifyContent: "center" }}> */

.progress-container {
  height: 20px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 5px;
  margin: 30px;
  max-width: 70%;
}
.progress-fill {
  height: 100%;
  /* width: 100%; gets dynamicly populated*/
  background-image: linear-gradient(
    to right,
    rgb(41, 115, 226),
    rgb(221, 180, 153),
    rgb(34, 235, 174)
  );
  border-radius: 5px;
  text-align: right;
  transition: width 1s ease-in-out;
}
.progress-label {
  padding: 5px;
  color: #fff;
  font-weight: bold;
}
/*progress bar css ends */

/* Slider css*/

.item {
  user-select: none; /* disable text selection*/
  position: relative;
  width: 300px;
  height: 100px;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.fg {
  cursor: -webkit-grab;
  background-color: #272727;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
  font-size: 3em;

  font-weight: 600;
  transition: box-shadow 0.75s;
}

.fg:active {
  cursor: -webkit-grabbing;
  box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.4);
}

.fg > * {
  pointer-events: none;
}

.av {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}
/* Slider css ends*/

/* MOBILE CSS */
@media only screen and (max-width: 600px) {
  .stats-drop-container {
    display: block;
  }
  .progress-container {
    max-width: 100%;
  }
  .drag-drop-zone {
    min-width: 0;
  }
  #gallery {
    max-width: 100%;
  }
}

/* STACK CONTAINER   */
.stack-container-class-root {
  margin-top: 10px;
  border: 1px solid var(--black-100);
  border-radius: 5px;
  /* overflow: hidden; */
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 350px;
  perspective-origin: 50% 50%;
  /* GRID CSS */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.stack-container-class {
  width: 150px;
  height: 150px;
  margin: 15px;
  transform-style: flat;
}

.stack-container-class > div {
  position: absolute;
  width: 150px;
  height: 150px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;
  /* border-radius: 5px; */
}
/* STACK CONTAINER   ENDS*/
