html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  /* color: inherit; */
  text-decoration: none;
}
a:hover {
  color: palevioletred;
}
* {
  box-sizing: border-box;
}

/* Droppable css */
.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #c0c0c0;
  border: dashed;
}
.drag-drop-zone p {
  color: #000;
  font-weight: 700;
  z-index: 10;
}
.drag-drop-zone.inside-drag-area {
  opacity: 0.7;
  background-color: rgba(13, 243, 224, 0.637);
  border-color: rgb(68, 68, 68);
}
.dropped-files li {
  color: #07f;
  padding: 3px;
  text-align: left;
  font-weight: bold;
}
/* Droppable css  Ends*/

/*progress bar css*/
progress[value] {
  /* Reset the default appearance  on different OS*/
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    rgb(41, 115, 226),
    rgb(221, 180, 153),
    rgb(34, 235, 174)
  );
  border-radius: 6px;
}
/*  v2*/

.progress-container {
  height: 20px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 5px;
  margin: 30px;
}
.progress-fill {
  height: 100%;
  /* width: 100%; gets dynamicly populated*/
  background-image: linear-gradient(
    to right,
    rgb(41, 115, 226),
    rgb(221, 180, 153),
    rgb(34, 235, 174)
  );
  border-radius: 5px;
  text-align: right;
  transition: width 1s ease-in-out;
}
.progress-label {
  padding: 5px;
  color: #fff;
  font-weight: bold;
}
/*progress bar css ends */
